@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&family=Oleo+Script:wght@700&family=Roboto:ital@1&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&family=Kaushan+Script&family=Oleo+Script:wght@700&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Oleo Script, Kaushan Script, Droid Sans,
    Helvetica Neue, Poppins sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}






.background-text {
  overflow: hidden;

  position: relative;
}
.background-text::after {
  color: #fff;
  font-weight: bold;
  content: attr(data-bg-text);
  display: block;
  font-size: 500px;
  line-height: 1;
  position: absolute;
  top: 120px;
  right: -300px;
  opacity: 0.1;
}

.work_box {
  z-index: 5;

  position: relative;

  overflow: hidden;
}

#work_small {
  z-index: 7;
  position: relative;
  top: 0;
  left: 0;
  color: #f7f7f7;
}

#work_big {
  font-size: 620px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  padding: 0px;
  margin: 0;
  bottom: 0;
  right: 15;
  position: absolute;
  opacity: 0.2;
}

/* Skills Bar */
.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(250, 148, 146, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
}

.frontend {
  width: 80%;
  animation: frontend 3s;
}

.backend {
  width: 70%;
  animation: backend 3s;
}

.web3 {
  width: 50%;
  animation: web3 3s;
}

.communication {
  width: 90%;
  animation: communication 3s;
}

.organization {
  width: 90%;
  animation: orginization 3s;
}

.management {
  width: 70%;
  animation: management 3s;
}

@keyframes frontend {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes backend {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes web3 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes communication {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes orginization {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes management {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

/* chevron down scroll icon */
#scroll-down {
  position: absolute;
  right: 1em;
  bottom: 2em;
}

#scroll-rotate {
  transform: rotate(90deg);
  position: absolute;
  right: 0.4em;
  bottom: 4em;
}

/* Timeline */

.progress-wrapper {
  margin: auto;
  max-width: 1080px;
}

#progress-bar-container {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100px;
  margin-top: 65px;
}

#progress-bar-container ul {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-top: -40px;
}

#progress-bar-container li:before {
  content: " ";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #aaa;
  transition: all ease 0.3s;
}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
  border: solid 2px #fff;

  background: linear-gradient(to right, #fc6767 0%, #fff 100%);
}

#progress-bar-container li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 60px;
  position: relative;
}

#progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
  color: #444;
}

#progress-bar-container li:after {
  content: " ";
  display: block;
  width: 6px;
  height: 6px;
  background: #777;
  margin: auto;
  border: solid 7px #fff;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}

#progress-bar-container li:hover:after {
  background: #555;
}

#progress-bar-container li.active:after {
  background: #207893;
}

#progress-bar-container #line {
  width: 80%;
  margin: auto;
  background: #eee;
  height: 6px;
  position: absolute;
  left: 10%;
  top: 57px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
  content: " ";
  width: 3%;
  height: 100%;
  background: #fa9492;
  background: linear-gradient(to right, #fa9492 0%, #fc6767 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-content-section {
  width: 90%;
  margin: auto;
  background: 0e131d;
  border-radius: 10px;
}

#progress-content-section .section-content {
  padding: 30px 40px;
  text-align: center;
}

#progress-content-section .section-content h2 {
  font-size: 17px;
  text-transform: uppercase;
  color: #fa9294;
  letter-spacing: 1px;
}

#progress-content-section .section-content p {
  font-size: 16px;
  line-height: 1.8em;
  color: #fff;
}

#progress-content-section .section-content {
  display: none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode: forwards;
  transform: translateY(15px);
  opacity: 0;
}

#progress-content-section .section-content.active {
  display: block;
}

@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
